<!--
/**
 * Copyright © 2017 Wagento. All rights reserved.
 */
-->
<div class="step-title" data-role="title">
    <span data-bind="i18n: 'Attendee:'"></span>
    <span data-bind="text: attendee_counter"></span>
</div>

<div class="field _required">
    <label class="label" data-bind="attr: { for: 'attendee-first-name_'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'First Name'"></span>
    </label>
    <div class="control">
        <input class="required-entry" type="text" data-bind="attr: {
                                                                    name: productId+'['+counter+'][first_name]',
                                                                    id: 'attendee-first-name_'+productId+'_counter_'+counter
                                                             },
                                                             value: first_name" />

    </div>
</div>
<div class="field">
    <label class="label" data-bind="attr: { for: 'attendee-last-name_'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'Last Name'"></span>
    </label>
    <div class="control">
        <input type="text" data-bind="attr: {
                                            name: productId+'['+counter+'][last_name]',
                                            id: 'attendee-last-name_'+productId+'_counter_'+counter
                                      },
                                      value: last_name" />
    </div>
</div>

<div class="field _required">
    <label class="label" data-bind="attr: { for: 'attendee-email_'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'Email'"></span>
    </label>
    <div class="control">
        <input class="required-entry validate-email" type="text"
               data-bind="attr: {
                                name: productId+'['+counter+'][email]',
                                id: 'attendee-email_'+productId+'_counter_'+counter
                          },
                          value: email" />
    </div>
</div>


<!-- <div class="field _required">
    <label class="label" data-bind="attr: { for: 'attendee-phone_'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'Phone Number'"></span>
    </label>
    <div class="control">
        <input class="required-entry" type="text"
               data-bind="attr: {
                                name: productId+'['+counter+'][telephone]',
                                id: 'attendee-phone_'+productId+'_counter_'+counter
                          },
                          value: telephone" />
    </div>
</div> -->

<div class="field _required">
    <label class="label" data-bind="attr: { for: 'attendee-identity'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'Company Role'"></span>
    </label>
    <div class="control">
        <select  class="select input-text required-entry"
                 data-bind="
                        attr: {id: 'attendee-identity_'+productId+'_counter_'+counter,name: productId+'['+counter+'][attendees_identity]'},
                        options: attendees_identity,
                        optionsValue: 'value',
                        optionsText: 'type',
                        optionsCaption: $t('--Please Select--'),
                        ">
        </select>
    </div>
</div>

<div class="field _required">
    <label class="label" data-bind="attr: { for: 'attendee-company_'+productId+'_counter_'+counter}">
        <span data-bind="i18n: 'Company'"></span>
    </label>
    <div class="control">
        <input class="required-entry" type="text" data-bind="attr: {
                                            name: productId+'['+counter+'][company]',
                                            id: 'attendee-company_'+productId+'_counter_'+counter
                                       },
                                       value: company" />
    </div>
</div>