<!--
/**
 * Copyright © 2017 Wagento. All rights reserved.
 */
-->
<li id="#attendee-list" class="checkout-attendee-list" data-bind="visible: attendeeFormModel.showForm">

    <div class="info-attendee" data-bind="visible: !attendeeFormModel.editForm()">
        <span data-bind="html: attendeeFormModel.infoAttendee"></span>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action" data-bind="click: editForm">
                    <span data-bind="i18n: 'Update Attendee'"></span>
                </button>
            </div>
        </div>
    </div>

    <form data-hasrequired=""
          method="post" id="form-validate" enctype="multipart/form-data"
          autocomplete="off"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          data-bind="submit: registerAttendee, blockLoader: attendeeFormModel.formLoader ,visible: attendeeFormModel.editForm">


        <fieldset class="fieldset" data-bind="foreach: { data: attendeeFormModel.attendeeList, as: 'attendee' }">
            <!-- ko foreach: $parent.getRegion('fieldSet') -->
            <!-- ko template: {name: getTemplate(), data: attendee} --><!-- /ko -->
            <!-- /ko -->
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary" type="submit">
                    <span data-bind="i18n: 'Register Attendees'"></span>
                </button>
            </div>
        </div>
    </form>
</li>